
@{
    ViewBag.Title = "aboutme";
    Layout = "~/Views/Shared/About.cshtml";
}
 
<center>
 <div class="card" style="width: 40rem;"> 
  <img class="card-img-top" src="~/Content/them/assets/img/theme/download.jpg" alt="Card image cap"> 
  <div class="card-body">
    <h3 class="card-title">Ramanisoft & solution</h3>
    <p class="card-text">RamaniSoft is an India based software outsourcing company that focuses on highly qualitative, timely delivered and cost effective offshore software development services to its clients. We adhere to stringent quality standards and flexible business practices so as to enable our clients to operate more efficiently and gain an edge over their competitors. We offer you the ability to leverage high quality offshore software engineering and offshore software programming talent. Our wide range of services include website designing, e-commerce services, graphics and logos design, website templates , website marketing, product development, software development etc.</p>
    <a href="http://www.ramanisoft.com" class="btn btn-primary">GO to site</a>
  </div>
</div>
    </center>

